<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Vehicle Rental System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rentalNavBar" aria-controls="rentalNavBar" aria-expanded="false" aria-label="navi">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="rentalNavBar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Book a Vehicle
          </a>
          <div class="dropdown-menu" aria-labelledby="navDrop">
            <a class="dropdown-item" href="#">Book a Car</a>
            <a class="dropdown-item" href="#">Book a Motorbike</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ViewAllVehicles">View All Vehicles</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-sm ml-3 w-35" type="findBooking" placeholder="Enter Booking ID" aria-label="Search">
        <button class="btn btn-outline-success my-3 my-sm-1" type="submit">Find Booking</button>
      </form>
    </div>
  </nav>

<router-outlet></router-outlet>